*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    background-image:url(/Images/colorbg.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: repeat;
}
nav{
    display: flex;
    width: 84%;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
    margin-left:1em;
    /* box-shadow: 0 0 10px 10px chocolate; */
}