*{
    margin: 10;
    padding: 20;
}
header{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: black; */
    font-size: 16px;
    font-weight:bold;
}
nav{
    position:static;
    float:right;
    background: rgb(192, 192, 192);
    border-radius: 36px;
    width: 500px;
    height: 36px;
}
    
nav a{
    text-decoration: none;
    padding: 3px 20px;
    line-height: 26px;
    display:inline-block;
}
.search{
    float: right;
    padding: 5px 5px;
    
}
.search:hover{
    color: red;
}
nav a:hover{
    background-color: rgb(59, 175, 175);
    border-radius: 36px;
    height: 30px;
}
body{
    background-image: url(./Images/Bg.jpg);
    background-size: cover;

    height: 100vh;
    background-repeat: repeat;
}
h1{
    color: aliceblue;
    font-size: 30px;
    font-weight: 100;
    text-align: left;
}
p{
    color: rgb(136, 150, 85);
    font-size: 20px;
    position: relative;
    word-spacing: 5px;
    left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form{
    /*
    border-style: double;
    border-radius: 5px 5px;
    position: relative;
    */
    font-style: oblique;
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(126, 63, 34);
    text-shadow: 1px 2px rgb(24, 24, 24);
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    text-shadow: 10px;
}
.table-elements{
    border-collapse: collapse;
    font-family:fantasy;
    margin: 25px, 0;
    min-width: 400px;
    color:rgb(212, 182, 146);
    text-align: center;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgb(92, 83, 60);
}
.table-elements tr:hover{
    color: antiquewhite;
}
.table-elements thead tr{
    background-color: rgb(212, 212, 212);
    color: black;
    text-align: left;
    font-size: 16px;
    font-weight: bold;  
}
.table-elements td{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
    font-weight:bold
}
.table-elements th,
.table-elements td{
    padding: 6px 13px;
}
.table-elements tbody tr{
    border-bottom: 2px solid rgb(136, 134, 130);
}
table{
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-decoration: underline rgb(15, 13, 13);
    text-shadow: 2px 3px 3px rgb(97, 36, 8);
    font-weight: bold;
    word-spacing: 5px;
    text-align:center;
    font-size: 17px;
    color: rgb(216, 216, 216);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}