*{
    margin: 0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{

}
img{
    width: 140px;
    cursor: pointer;
    float: left;
}
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    background-color:#D89216;
    border-bottom: 3px solid rgb(43, 19, 25);
}
.blogHead span{
    color: brown;
    font-size: 25px;
    font-weight: bold;
}
.blogHead h4{
    text-align:left;
    font-size: 17px;
    margin-top: 15px;
}
.starting h3{
    font-size: 20px;
    margin:0px;
    padding: 15px;
    text-decoration: underline;
    text-align: left;
    color: azure;
}
starting,p{
    margin: 5px;
    padding: 10px;
    color: aliceblue;
}
.nmrimg {
    justify-content: center;
    display: flex;
}
.nmrimg img{
    width: 30%;
    box-shadow: 0 0 5px 2px rgb(17, 11, 43);
}
.nmrimg img:hover{
    box-shadow: 0px 0px 4px 3px rgb(99, 12, 23);
}
#content{
    background-color: #222831;
    /* border-bottom: 3px solid rgb(5, 15, 15); */
}
#content:hover{
    box-shadow: 0px 0px 10px 5px white;
}
.lb p{
    /* border-bottom: 2px dotted coral; */
    background-color: #222831;
}
#Ronaldo{
    background-color: #222831;
}
#Ronaldo:hover{
    box-shadow: 0px 0px 10px 5px white;
}
.cr7,h3{
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    margin-bottom: 1em;
}
.tableforcr table{
    border-collapse: collapse;
    min-width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.tableforcr td{
    border: 1px dotted rgb(184, 28, 93);
    color:aliceblue;
    padding: 6px 13px;
}
.tableforcr tr:hover{
    box-shadow: 0px 0px 3px 2px rgb(122, 34, 34);
}
.crimage {
    margin-top: 2em;
    justify-content: center;
    display: flex;
}
.crimage img{
    width: 30%;
    box-shadow: 0 0 5px 2px rgb(17, 11, 43);
}
.crimage img:hover{
    box-shadow: 0px 0px 4px 3px rgb(99, 12, 23);
}